@import "tailwindcss";

@theme {
  --color-primary: #000435;
  --color-accent: var(--color-amber-500);
}

/* Font */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Canva-like striped background */
.bg-striped-blue {
  background-image: url('/my_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}